.option {
  &__container {
    font-family: 'Inter Tight';
    font-style: normal;

    .el-row {
    }

    &--column {
      .column-content {
        border-radius: 10px;
        background: #FFFFFF;

        .header-card {
          width: 100%;
          height: 5.5em;
          background: #0A91F2;
          display: flex;
          border-radius: 10px 10px 0 0;

          .card-header {
            display: flex;
            align-items: center;
            margin: 0 1em;

            span {
              font-weight: 600;
              font-size: 24px;
              line-height: 29px;
              letter-spacing: 0.05em;
              color: #FFFFFF;
            }
          }
        }

        .body-card {
          background: #A5AAAF;
          border-radius: 0 0 10px 10px;

          &--list {

            .item {
              cursor: pointer;
              background: #FFFFFF;
              border-radius: 10px;
              height: 6em;
              margin: 2em 2em;
              display: grid;
              align-items: center;

              &-img {
                display: none;
              }

              &-title {
                width: fit-content;

                span {
                  padding: 0 2em;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 19px;
                  letter-spacing: 0.05em;
                  color: #0A91F2;

                }
              }

              &-content {
                width: fit-content;

                span {
                  padding: 0 2em;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 19px;
                  letter-spacing: 0.05em;
                  color: #262626;
                }
              }

              &.is-active {
                position: relative;
                background: #2ED058;

                .item-title {

                  span {
                    color: #FFFFFF;

                  }
                }

                .item-content {
                  span {
                    color: #FFFFFF;
                  }
                }

                .item-img {
                  position: absolute;
                  width: 98%;
                  display: flex;
                  justify-content: end;
                  top: 10%;
                }
              }
            }
          }
        }
      }
    }
  }
}
