.info {
  &__container {
    &--stepper {
      font-family: 'Inter Tight';
      font-style: normal;
      text-align: center;

      .stepper--title {
        span {
          font-weight: 700;
          font-size: 48px;
          line-height: 58px;
          letter-spacing: 0.05em;
          color: #262626;

        }
      }

      .stepper--list {
        padding: 4em 0;
        display: flex;
        justify-content: center;

        &-item {
          img {
          }
        }
      }
    }

    &--path {
      margin: auto;
    }
  }
}
