.price {
  &__container {
    font-family: 'Inter Tight';
    font-style: normal;

    .el-row {
    }

    &--column {
      padding: 0 !important;

      .option-column {
        background: #FFFFFF;
        box-shadow: 24px 21px 63px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        height: 38em;

        &--list {
          padding: 6em 8em;

          .item-list {
            .item {
              justify-content: space-between;
              display: flex;
              height: 3em;

              &-info {
                height: 100%;
                display: grid;
                align-content: space-between;

                &--title {
                  span {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.05em;
                    color: #0A91F2;
                  }
                }

                &--content {
                  span {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.05em;
                    color: #262626;
                  }
                }
              }

              &-unit {
                &--title {
                  span {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                    letter-spacing: 0.05em;
                    color: #0A91F2;
                  }
                }
              }
            }
          }

        }
      }

      .price-column {
        height: 38em;
        background: #EFF7FF;
        box-shadow: 24px 21px 63px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        &--list {
          padding: 3em 4em;
          .price-row {
            .price-title {
              margin: 0 0 2em 0;
              &--content {
                span {
                  font-weight: 600;
                  font-size: 24px;
                  line-height: 29px;
                  letter-spacing: 0.05em;
                  color: #000000;
                }
              }
            }

            .price-item {
              &--customize {
                .price-item--content {
                  .price-item--tag {
                    justify-content: end;
                    display: flex;
                    span {

                    }
                  }

                  .price-item--per {
                    justify-content: end;
                    display: flex;
                    span {
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 17px;
                      letter-spacing: 0.05em;
                      color: #262626;
                    }
                  }
                }
              }

              &--title {
                span {
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 19px;
                  letter-spacing: 0.05em;
                  color: #262626;
                }
              }

              &--tag {
                justify-content: end;
                display: flex;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.05em;
                color: #0A91F2;
                &--customize {
                  justify-content: end;
                  display: flex;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 17px;
                  letter-spacing: 0.05em;
                  color: #262626;
                }
              }

              .btn-submit {
                width: 100%;
                height: 3em;
                background: #FF1D0D;
                border-radius: 5px;
                span {
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 17px;
                  letter-spacing: 0.05em;
                  text-transform: uppercase;
                  color: #FFFFFF;
                }
              }
            }
          }
        }
      }
    }
  }
}
