<div class="footer">
  <el-row class="footer__container">
    <el-col :span="12" :xl="12" :sm="24" :xs="24" class="footer__container--left">
      <el-row class="left_container">
        <el-col :span="10" :xl="10" :sm="24" :xs="24" class="logo-col">
          <div class="logo-col--img">
            <img src="@/assets/img/Group.png" alt="logo">
          </div>
        </el-col>
        <el-col :span="10" :xl="10" :sm="24" :xs="24" class="contact-col">
          <div class="contact-col--content">
            <span class="content-title">Liên hệ</span>
          </div>
          <div class="contact-col--content">
            <span class="content-title">Trụ sở chính:</span>
            <span class="content-text"> Số 16, ngách 97/168 Kim Giang, tổ 30, P.Đại Kim, Q.Hoàng Mai, Tp.Hà Nội.</span>
          </div>
          <div class="contact-col--content">
            <span class="content-title">Văn phòng đại diện:</span>
            <span class="content-text"> Tòa nhà Hoàng Ngọc, số 4, ngõ 82 Dịch Vọng Hậu, Cầu Giấy,Tp. Hà Nội.</span>
          </div>
          <div class="contact-col--content">
            <span class="content-title">Tel:</span>
            <span class="content-text"> +84 999 999 999</span>
          </div>
          <div class="contact-col--content">
            <span class="content-title">Email:</span>
            <span class="content-text"> kaiyouitcloud@gmail.com</span>
          </div>
        </el-col>
      </el-row>
      <el-row class="left_container">
        <el-col :span="24" class="copy-right-col">
          <div class="copy-right-text">
            <span>© 2022 Bản quyền thuộc về Kaiyouit Cloud</span>
          </div>
        </el-col>
      </el-row>
    </el-col>
    <el-col :span="12" :xl="12" :sm="24" :xs="24" class="footer__container--right">
      <el-row class="right_container">
        <el-col :span="10" :xl="10" :sm="24" :xs="24" class="info-col">
          <div class="info-col--content">
            <span class="content-title">Về Kaiyouit Cloud</span>
          </div>
          <div class="info-col--content">
            <span class="content-text">Giới thiệu</span>
          </div>
          <div class="info-col--content">
            <span class="content-text">Dịch vụ</span>
          </div>
          <div class="info-col--content">
            <span class="content-text">Chính sách bảo mật</span>
          </div>
          <div class="info-col--content">
            <span class="content-text">Điều khoản dịch vụ</span>
          </div>
        </el-col>
        <el-col :span="10" :xl="10" :sm="24" :xs="24" class="form-col">
          <div class="form-col--content">
            <span class="form-title">Đăng ký email để nhận thông tin mới nhất</span>
          </div>
          <div class="form-col--content">
            <el-form :model="form" class="form-content">
              <el-form-item class="form-content--item">
                <el-input v-model="form.name" class="form-input" placeholder="Họ và tên"></el-input>
                <img class="form-img" src="@/assets/img/account_circle.png" alt="name-icon">
              </el-form-item>
              <el-form-item class="form-content--item">
                <el-input v-model="form.phone" class="form-input" placeholder="Số điện thoại"/>
                <img class="form-img" src="@/assets/img/call.png" alt="phone-icon">
              </el-form-item>
              <el-form-item class="form-content--item">
                <el-input v-model="form.mail" class="form-input" placeholder="Nhập email của bạn"/>
                <img class="form-img" src="@/assets/img/mail.png" alt="mail-icon">
              </el-form-item>
              <el-form-item class="form-content--item-customize">
                <el-input v-model="form.info" class="form-input" placeholder="Nhập nội dung"/>
                <img class="form-img" src="@/assets/img/edit.png" alt="info-icon">
              </el-form-item>
              <el-form-item class="form-content--item">
                <el-button class="form-btn" @click="">GỬI NGAY</el-button>
              </el-form-item>
            </el-form>
          </div>
        </el-col>
      </el-row>
    </el-col>
  </el-row>
</div>
