<div class="main-layout">
  <el-container class="main-layout__container">
    <el-header class="main-layout__container--header">
      <div class="header-container">
        <Header />
      </div>
    </el-header>
    <el-main class="main-layout__container--main">
      <div class="main-container">
        <RouterView />
      </div>
    </el-main>
    <el-footer class="main-layout__container--footer">
      <div class="footer-container">
        <Footer />
      </div>
    </el-footer>
  </el-container>
</div>
