<div class="tech">
  <div class="tech__container">
    <el-row id="firstRow" :gutter="20">
      <el-col class="tech__container--language" :span="6">
        <div class="lang-content">
          <div class="lang-content--list">
            <div class="list-item--title">
              <span>Ngôn ngữ</span>
            </div>
            <div class="list-item">
              <el-select v-model="value" class="" placeholder="PHP">
                <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                />
              </el-select>
            </div>
            <div class="list-item">
              <span>Nhiều ngôn ngữ</span>
              <el-switch
                  style="--el-switch-on-color: #13ce66;"
                  v-model="this.test"
                  size="large"
              />
            </div>
          </div>
        </div>
      </el-col>
      <el-col class="tech__container--divider" hidden-md-and-down :span="0">
        <el-divider direction="vertical"/>
      </el-col>
      <el-col class="tech__container--framework" :span="6">
        <div class="framework-content">
          <div class="framework-content--list">
            <div class="list-item--title">
              <span>Framework</span>
            </div>
            <div class="list-item">
              <el-switch
                  style="--el-switch-on-color: #13ce66;"
                  v-model="this.test"
                  size="large"
              />
              <span>Laravel</span>

            </div>
            <div class="list-item">
              <el-switch
                  style="--el-switch-on-color: #13ce66;"
                  v-model="this.test"
                  size="large"
              />
              <span>Express</span>

            </div>
          </div>
        </div>
      </el-col>
      <el-col class="tech__container--divider" hidden-md-and-down :span="0">
        <el-divider direction="vertical"/>
      </el-col>
      <el-col class="tech__container--app" :span="6">
        <div class="app-content">
          <div class="app-content--list">
            <div class="list-item--title">
              <span>App</span>
            </div>
            <div class="list-item">
              <el-switch
                  style="--el-switch-on-color: #13ce66;"
                  v-model="this.test"
                  size="large"
              />
              <span>Android</span>

            </div>
            <div class="list-item">
              <el-switch
                  style="--el-switch-on-color: #13ce66;"
                  v-model="this.test"
                  size="large"
              />
              <span>IOS</span>

            </div>
            <div class="list-item">
              <el-switch
                  style="--el-switch-on-color: #13ce66;"
                  v-model="this.test"
                  size="large"
              />
              <span>Desktop APP</span>

            </div>
          </div>
        </div>
      </el-col>
      <el-col class="tech__container--divider" hidden-md-and-down :span="0">
        <el-divider direction="vertical"/>
      </el-col>
      <el-col class="tech__container--feature" :span="6">
        <div class="feature-content">
        <div class="feature-content--list">
          <div class="list-item--title">
            <span>Chức năng nâng cao</span>
          </div>
          <div class="list-item">
            <el-switch
                style="--el-switch-on-color: #13ce66;"
                v-model="this.test"
                size="large"
            />
            <span>Có tính năng chat</span>

          </div>
          <div class="list-item">
            <el-switch
                style="--el-switch-on-color: #13ce66;"
                v-model="this.test"
                size="large"
            />
            <span>Có tính năng nhạc, video</span>

          </div>
          <div class="list-item">
            <el-switch
                style="--el-switch-on-color: #13ce66;"
                v-model="this.test"
                size="large"
            />
            <span>Quay video trực tiếp</span>

          </div>
        </div>
        </div>
      </el-col>
    </el-row>
    <el-row id="secondRow" :gutter="20">
      <el-col class="tech__container--domain" :span="6">
        <div class="domain-content">
          <div class="domain-content--list">
            <div class="list-item">
              <el-radio-group v-model="radio">
                <el-radio :label="1" size="large">Chạy cùng domain</el-radio>
                <el-radio :label="2" size="large">Hoạt động trên nhiều sub domain</el-radio>
                <el-radio :label="3" size="large">Hoạt đông trên domain</el-radio>
              </el-radio-group>
            </div>
          </div>
        </div>
      </el-col>
      <el-col class="tech__container--git" :span="18">
        <div class="git-content">
          <div class="git-content--list">
            <div class="list-item">
              <el-switch
                  style="--el-switch-on-color: #13ce66;"
                  v-model="this.test"
                  size="large"
              />
              <span>Web đa ngôn ngữ tách biệt domain</span>

            </div>
            <div class="list-item">
              <el-switch
                  style="--el-switch-on-color: #13ce66;"
                  v-model="this.test"
                  size="large"
              />
              <span>Git - CI/CD</span>

            </div>
            <div class="list-item">
              <el-switch
                  style="--el-switch-on-color: #13ce66;"
                  v-model="this.test"
                  size="large"
              />
              <span>Có sử dụng docker</span>

            </div>
          </div>
        </div>
      </el-col>
    </el-row>
    <el-row id="thirdRow" :gutter="20">
      <el-col class="tech__container--btn" :span="24">
        <el-button class="btn-return" round @click="handleOnClickToModel">
          <span>
            <el-icon><ArrowLeftBold/></el-icon>
            Mô hình
          </span>
        </el-button>
        <el-button class="btn-submit" round @click="handleOnClickToStore">
          <span>
            Thông tin lưu trữ
            <el-icon><ArrowRightBold/></el-icon>
          </span>
        </el-button>
      </el-col>
    </el-row>
  </div>
</div>
