.tech {
  justify-content: center;
  display: flex;
  font-family: 'Inter Tight';
  font-style: normal;

  &__container {
    background: #FFFFFF;
    box-shadow: 24px 21px 63px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 90em;

    .el-row {
      justify-content: space-between;
      margin: 3em 6em !important;
    }

    #firstRow {
    }

    #secondRow {
    }

    #thirdRow {
    }

    &--divider {
      padding: 0 !important;
      justify-content: center;
      display: flex;

      .el-divider {
        height: 100%;
      }
    }

    &--language {
      padding: 0 !important;

      .lang-content {
        &--list {
          justify-content: center;
          display: grid;

          .list-item {
            padding: 0.2em 0;

            &--title {
              height: 46px;
              margin: 0 0 2em 0;
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              width: fit-content;
              background: #EFF7FF;
              padding: 0 1em;

              span {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.05em;
                color: #0A91F2;
              }
            }

            span {
              padding: 0 0.5em;
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: 0.05em;
              color: #262626;
            }
          }
        }
      }
    }

    &--framework {
      padding: 0 !important;

      .framework-content {
        &--list {
          justify-content: center;
          display: grid;

          .list-item {
            padding: 0.2em 0;

            &--title {
              height: 46px;
              margin: 0 0 2em 0;
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              width: fit-content;
              background: #EFF7FF;
              padding: 0 1em;

              span {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.05em;
                color: #0A91F2;
              }
            }

            span {
              padding: 0 0.5em;
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: 0.05em;
              color: #262626;
            }
          }
        }
      }
    }

    &--app {
      padding: 0 !important;

      .app-content {
        &--list {
          justify-content: center;
          display: grid;

          .list-item {
            padding: 0.2em 0;

            &--title {
              height: 46px;
              margin: 0 0 2em 0;
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              width: fit-content;
              background: #EFF7FF;
              padding: 0 1em;

              span {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.05em;
                color: #0A91F2;
              }
            }

            span {
              padding: 0 0.5em;
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: 0.05em;
              color: #262626;
            }
          }
        }
      }
    }

    &--feature {
      padding: 0 !important;

      .feature-content {
        &--list {
          justify-content: center;
          display: grid;

          .list-item {
            padding: 0.2em 0;

            &--title {
              height: 46px;
              margin: 0 0 2em 0;
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              width: fit-content;
              background: #EFF7FF;
              padding: 0 1em;

              span {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.05em;
                color: #0A91F2;
              }
            }

            span {
              padding: 0 0.5em;
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: 0.05em;
              color: #262626;
            }
          }
        }
      }
    }

    &--domain {
      padding: 0 !important;

      .domain-content {
        &--list {
          .list-item {
          }
        }
      }
    }

    &--git {
      padding: 0 !important;
      align-items: center;
      display: grid;
      border: 2px dashed #CDDDED;
      border-radius: 10px;

      .git-content {
        padding: 0 2em;

        &--list {
          display: flex;
          justify-content: space-between;

          .list-item {
            padding: 0.2em 0;

            span {
              padding: 0 0.5em;
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: 0.05em;
              color: #262626;
            }
          }
        }
      }
    }

    &--btn {
      padding: 0 !important;
      justify-content: space-between;
      display: flex;

      .btn-return {
        padding: 0;
        height: 44px;
        background: #FFFFFF;
        border: none;

        span {
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.05em;
          color: #262626;
          display: contents;
        }
      }

      .btn-submit {
        width: 244px;
        height: 44px;
        background: linear-gradient(223.99deg, #5F9FFF 6.84%, #0065FC 90.69%);
        border-radius: 90px;

        span {
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.05em;
          color: #FFFFFF;
          display: contents;
        }
      }
    }
  }
}

