<div class="perform">
  <div class="perform__container">
    <el-row id="firstRow" :gutter="20">
      <el-col class="perform__container--stable" :span="24">
        <div class="stable-content">
          <div class="stable-content--list">
            <div class="list-item">
              <el-switch
                  style="--el-switch-on-color: #13ce66;"
                  v-model="this.test"
                  size="large"
              />
              <span>Cân bằng tải (áp dụng khi có nhiều server)</span>
            </div>
          </div>
        </div>
      </el-col>
      <el-col class="perform__container--auto" :span="24">
        <div class="auto-content">
          <div class="auto-content--list">
            <div class="list-item">
              <el-switch
                  style="--el-switch-on-color: #13ce66;"
                  v-model="this.test"
                  size="large"
              />
              <span>Tự động nâng cấu hình server khi có lương truy cập lớn (auto scaling)</span>
            </div>
          </div>
        </div>
      </el-col>
      <el-col class="perform__container--aws" :span="24">
        <div class="aws-content">
          <div class="aws-content--list">
            <div class="list-item">
              <el-switch
                  style="--el-switch-on-color: #13ce66;"
                  v-model="this.test"
                  size="large"
              />
              <span>AWS cloudfront</span>
            </div>
          </div>
        </div>
      </el-col>
    </el-row>
    <el-row id="secondRow" :gutter="20">
      <el-col class="perform__container--btn" :span="24">
        <el-button class="btn-return" round @click="handleOnClickToStore">
          <span>
            <el-icon><ArrowLeftBold/></el-icon>
            Lưu trữ
          </span>
        </el-button>
        <el-button class="btn-submit" round @click="handleOnClickToSafety">
          <span>
            Thông tin an toàn
            <el-icon><ArrowRightBold/></el-icon>
          </span>
        </el-button>
      </el-col>
    </el-row>
  </div>
</div>
